<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reach | Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container-fluid bg-light">
        <!-- NavBar -->
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand">Hello {{current_user.first_name}}!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto"></div>
                <button class="btn btn-secondary mr-3" onclick="location.href='/new'">Add</button>
                <button class="btn btn-secondary" onclick="location.href='/logout'">Log Out</button>
            </div>
        </nav><!-- NavBar -->

        <!-- Reached -->
        <div class="row">
            <div class="col">
                <h3 class="bg-success p-3 mb-0">Reached!</h3>
                <table class="table table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: 7%">Action</th>
                            <th style="width: 10%">Status</th>
                            <th style="width: 10%">Last Action</th>
                            <th style="width: 15%">Position</th>
                            <th style="width: 10%">Company</th>
                            <th style="width: 15%">Contact</th>
                            <th style="width: 30%">Notes</th>
                            <th style="width: 3%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for position in reached_positions %}
                        <tr>
                            <td>
                                {% if position.status_code == 21 %}
                                <!-- 21 to 23 -->
                                <a href="/update_status/{{position.id}}/23">Accepted</a><br>
                                <!-- 21 to 22 -->
                                <a href="/update_status/{{position.id}}/22">Declined</a><br>
                                {% elif position.status_code == 22 %}
                                <!-- 22 to 4 -->
                                <a href="/update_status/{{position.id}}/4">Got Interview</a><br>
                                <!-- 22 to 21 -->
                                <a href="/update_status/{{position.id}}/21">Got New Offer</a><br>
                                {% elif position.status_code == 23 %}
                                -
                            {% endif %}
                            </td>
    

                            <td>
                            {% if position.status_code == 21 %}
                                Offered<br>
                            {% elif position.status_code == 22 %}
                                Declined<br>
                            {% elif position.status_code == 23 %}
                                Accepted!<br>
                            </td>
                            {% endif %}
                            
                            <td>
                                {{position.updated_at.date}}
                            </td>

                            <td>
                                {{ position.title }}<br>
                                {{ position.location }}<br>
                                ${{ position.salary }}<br>
                                <a href="{{ position.posting }}">Link</a>
                            </td>
                            <td>
                                {{ position.company.name }}<br>
                                {% if position.company.info != "" %}
                                <a href="{{ position.company.info }}">Link</a>
                                {% endif %}
                            </td>
                            <td>{{ position.contact.first_name }} {{ position.contact.first_name }}</td>
                            <td>{{ position.note }}</td>
                            <td><a href="/edit/{{position.id}}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- Reached -->

        <!-- To Do -->
        <div class="row">
            <div class="col">
                <h2 class="bg-danger p-3 mb-0">To Do</h2>
                <table class="table table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: 7%">Action</th>
                            <th style="width: 10%">Status</th>
                            <th style="width: 10%">Last Action</th>
                            <th style="width: 15%">Position</th>
                            <th style="width: 10%">Company</th>
                            <th style="width: 15%">Contact</th>
                            <th style="width: 30%">Notes</th>
                            <th style="width: 3%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for position in todo_positions %}
                        <tr>
                            <td>
                                {% if position.status_code == 2 %}
                                <!-- 2 to 1 -->
                                <a href="/update_status/{{position.id}}/1">Followed up</a><br>
                                {% elif position.status_code == 3 %}
                                <!-- 3 to 1 -->
                                <a href="/update_status/{{position.id}}/1">Completed Assignment</a><br>
                                {% elif position.status_code == 4 %}
                                <!-- 4 to 12 -->
                                <a href="/update_status/{{position.id}}/12">Took Interview</a><br>
                                <!-- 4 to 21 -->
                                <a href="/update_status/{{position.id}}/21">Interview Cancelled</a><br>
                                {% elif position.status_code == 12 %}
                                <!-- 12 to 11 -->
                                <a href="/update_status/{{position.id}}/11">Thank-you Sent</a><br>
                                {% elif position.status_code == 13 %}
                                <!-- 13 to 11 -->
                                <a href="/update_status/{{position.id}}/11">Follow-up Sent</a><br>
                                {% elif position.status_code == 14 %}
                                <!-- 14 to 11 -->
                                <a href="/update_status/{{position.id}}/11">Completed Assignment</a><br>
                            {% endif %}
                            </td>

                            <td>
                            {% if position.status_code == 2 %}
                                Applied<br>
                                {% if position.fu_sent == False %}
                                Need Follow-up
                                {% endif %}
                            {% elif position.status_code == 3 %}
                                Applied<br>
                                {% if position.assignment_done == False %}
                                Do Assignment
                                {% endif %}
                            {% elif position.status_code == 4 %}
                                Prep For Interview<br>
                            {% elif position.status_code == 12 %}
                                Interview Taken<br>
                                {% if position.ty_sent == False %}
                                Need Thank-you Note
                                {% endif %}
                            {% elif position.status_code == 13 %}
                                Interview Taken<br>
                                {% if position.fu_sent == False %}
                                Need Follow-up
                                {% endif %}
                            {% elif position.status_code == 14 %}
                                Interview Taken<br>
                                {% if position.assignment_done == False %}
                                Do Assignment
                                {% endif %}
                            {% endif %}
                            </td>

                            <td>{{position.updated_at.date}}</td>

                            <td>
                                {{ position.title }}<br>
                                {{ position.location }}<br>
                                ${{ position.salary }}<br>
                                <a href="{{ position.posting }}">Link</a>
                            </td>
                            <td>
                                {{ position.company.name }}<br>
                                {% if position.company.info != "" %}
                                <a href="{{ position.company.info }}">Link</a>
                                {% endif %}
                            </td>
                            <td>{{ position.contact.first_name }} {{ position.contact.first_name }}</td>
                            <td>{{ position.note }}</td>
                            <td><a href="/edit/{{position.id}}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- To Do -->

        <!-- Waiting -->
        <div class="row">
            <div class="col">
                <h2 class="bg-warning p-3 mb-0">Waiting</h2>
                <table class="table table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: 7%">Action</th>
                            <th style="width: 10%">Status</th>
                            <th style="width: 10%">Last Action</th>
                            <th style="width: 15%">Position</th>
                            <th style="width: 10%">Company</th>
                            <th style="width: 15%">Contact</th>
                            <th style="width: 30%">Notes</th>
                            <th style="width: 3%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for position in waiting_positions %}
                        <tr>

                            <td>
                            {% if position.status_code == 1 %}
                                <!-- 1 to 3 -->
                                <a href="/update_status/{{position.id}}/3">Got Assignment</a><br>
                                <!-- 1 to 4 -->
                                <a href="/update_status/{{position.id}}/4">Got Interview</a><br>
                                <!-- 1 to 31 -->
                                <a href="/update_status/{{position.id}}/31">Interview Denied</a><br>
                                <!-- 1 to 32 -->
                                {% if position.fu_sent == True %}
                                <a href="/update_status/{{position.id}}/32">Mark Lost</a><br>
                                {% endif %}
                            {% elif position.status_code == 11 %}
                                <!-- 11 to 4 -->
                                <a href="/update_status/{{position.id}}/4">Got Interview</a><br>
                                <!-- 11 to 14 -->
                                <a href="/update_status/{{position.id}}/14">Got Assignment</a><br>
                                <!-- 11 to 21 -->
                                <a href="/update_status/{{position.id}}/21">Got Offer!</a><br>
                                <!-- 11 to 33 -->
                                <a href="/update_status/{{position.id}}/33">No Offer</a><br>
                                <!-- 11 to 34 -->
                                <a href="/update_status/{{position.id}}/33">Mark Lost</a><br>
                            {% endif %}
                            </td>



                            <td>
                            <!-- Applied, Not interviewed Yet -->
                            {% if position.status_code == 1 %}
                                Applied<br>
                                {% if position.fu_sent == True %}
                                    Follow-up Sent
                                {% endif %}
                            <!-- Applied, Interviewed -->
                            {% elif position.status_code == 11 %}
                                Interviewed<br>
                                {% if position.ty_sent == True %}
                                    Thank-you Sent
                                {% endif %}
                                {% if position.fu_sent == True %}
                                    Follow-up Sent
                                {% endif %}
                            {% endif %}
                            </td>
                            
                            <td>
                                {{position.updated_at.date}}
                            </td>

                            <td>
                                {{ position.title }}<br>
                                {{ position.location }}<br>
                                ${{ position.salary }}<br>
                                <a href="{{ position.posting }}">Link</a>
                            </td>
                            <td>
                                {{ position.company.name }}<br>
                                {% if position.company.info != "" %}
                                <a href="{{ position.company.info }}">Link</a>
                                {% endif %}
                            </td>
                            <td>{{ position.contact.first_name }} {{ position.contact.first_name }}</td>
                            <td>{{ position.note }}</td>
                            <td><a href="/edit/{{position.id}}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- Waiting -->

        <!-- Obsolete -->
        <div class="row">
            <div class="col">
                <h3 class="bg-info p-3 mb-0">Obsolete</h3>
                <table class="table table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: 7%">Action</th>
                            <th style="width: 10%">Status</th>
                            <th style="width: 10%">Last Action</th>
                            <th style="width: 15%">Position</th>
                            <th style="width: 10%">Company</th>
                            <th style="width: 15%">Contact</th>
                            <th style="width: 30%">Notes</th>
                            <th style="width: 3%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for position in obsolete_positions %}
                        <tr>
                            <td>
                                {% if position.status_code == 31 %}
                                <!-- 31 to 4 -->
                                <a href="/update_status/{{position.id}}/4">Got Interview</a>
                                {% elif position.status_code == 32 %}
                                <!-- 32 to 4 -->
                                <a href="/update_status/{{position.id}}/4">Got Interview</a>
                                {% elif position.status_code == 33 %}
                                <!-- 33 to 4 -->
                                <a href="/update_status/{{position.id}}/4">Got Interview</a>
                                <!-- 33 to 21 -->
                                <a href="/update_status/{{position.id}}/21">Got Offer</a>
                                {% elif position.status_code == 34 %}
                                    <!-- 34 to 4 -->
                                    <a href="/update_status/{{position.id}}/4">Got Interview</a>
                                    <!-- 34 to 21 -->
                                    <a href="/update_status/{{position.id}}/21">Got Offer</a>
                                {% endif %}
                            </td>


                            <td>
                            {% if position.status_code == 31 %}
                                Interview Declined
                            {% elif position.status_code == 32 %}
                                Application Lost
                            {% elif position.status_code == 33 %}
                                Interviewed<br>
                                No Offer
                            {% elif position.status_code == 34 %}
                                Interviewed<br>
                                Application Lost
                            {% endif %}
                            </td>

                            <td>
                                {{position.updated_at.date}}
                            </td>

                            <td>
                                {{ position.title }}<br>
                                {{ position.location }}<br>
                                ${{ position.salary }}<br>
                                <a href="{{ position.posting }}">Link</a>
                            </td>
                            <td>
                                {{ position.company.name }}<br>
                                {% if position.company.info != "" %}
                                <a href="{{ position.company.info }}">Link</a>
                                {% endif %}
                            </td>
                            <td>{{ position.contact.first_name }} {{ position.contact.first_name }}</td>
                            <td>{{ position.note }}</td>
                            <td><a href="/edit/{{position.id}}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- Obsolete -->

        <!-- Footer -->
        <footer class="footer text-center">
            <div class="container">
                <p class="text-muted">© 2020 by Gaku Sasaki</p>
            </div>
        </footer><!-- Footer -->
    </div>
</body>

</html>