<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reach | Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <style>
        #logo {
            font-family: "Comic Sans MS", cursive, sans-serif;
            color: #17A2B8;
            font-size: 30px;
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <div class="container-fluid px-5">
        <!-- Header -->
        <div class="row py-2">
            <a class="navbar-brand" id="logo">Reach</a>
        </div>
        <div class="row p-1">
            <h3>Welcome!</h3>
        </div>
        <div class="row">
            <!-- Registration -->
            <div class="col bg-light mx-5 p-5">
                <h1 class="text-center">First-Time Users</h1>
                
                <form action="/attempt_reg" method="post">
                    {% csrf_token %}
                    <label for="first_name" class="mt-2">First Name</label>
                    <input type="text" class="form-control" name="first_name" value="" required autofocus>
                    <label for="last_name" class="mt-2">Last Name</label>
                    <input type="text" class="form-control" name="last_name" value="" required>
                    <label for="email" class="mt-2">Email</label>
                    <input type="text" class="form-control" name="email" value="" required>
                    <label for="password" class="mt-2">Password</label>
                    <input type="password" class="form-control" name="password" value="" required>
                    <label for="password_confirm" class="mt-2">Confirm PW</label>
                    <input type="password" class="form-control" name="password_confirm" value="" required>
                    <button type="submit" class="btn btn-secondary d-block mx-auto w-50 mt-5">Register</button>
                </form>
            </div>
            <!-- Sign-In -->
            <div class="col bg-light mx-5 p-5">
                <h1 class="text-center">Returning Users</h1>

                <form action="/attempt_login" method="post">
                    {% csrf_token %}
                    <label for="login_email" class="mt-2">Email</label>
                    <input type="email" class="form-control" name="login_email" value="" required>
                    <label for="login_password" class="mt-2">Password</label>
                    <input type="password" class="form-control" name="login_password" value="" required>
                    <button type="submit" class="btn btn-secondary d-block mx-auto w-50 mt-5">Log In</button>
                </form>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

            </div>
        </div>
    </div>
</body>
</html>