<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reach | New Position</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <style>
        .d-b {
            display: block;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <!-- NavBar -->
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand">Add a Position!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto"></div>
                <button class="btn btn-secondary mr-3" onclick="location.href='/dashboard'">Back</button>
                <button class="btn btn-secondary" onclick="location.href='/logout'">Log Out</button>
            </div>
        </nav>
        
        <div class="row px-2 mt-2">
            <div class="col bg-light">
                <h1 class="text-center my-2">New Position</h1>
                
                <form action="/attempt_position" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <label for="title" class="mt-2">Title</label>
                            <input type="text" class="form-control" name="title" placeholder="ex: Full-Stack Engineer" required autofocus>
        
                            <label for="location" class="mt-2">Location</label>
                            <input type="text" class="form-control" name="location" placeholder="ex: Costa Mesa" required>
        
                            <label for="salary" class="mt-2">Salary</label>
                            <input type="text" class="form-control" name="salary" placeholder="ex: 500000" required>
        
                            <label for="posting" class="mt-2">Post (Link)</label>
                            <input type="text" class="form-control" name="posting" placeholder="Copy + Paste a Link here!" required>

                            <label for="note" class="mt-2">(Optional) Note</label>
                            <textarea type="text" class="form-control" placeholder="Optional Note" name="note"></textarea>
        
                            
                        </div>
                        <div class="col">
                            <label for="company_name" class="mt-2">Company Name</label>
                            <input type="text" list="companies" class="form-control" name = "company_name" placeholder="Type here, or click to pick one" required>
                            <datalist id="companies">
                                {% for company in companies %}
                                <option>{{company.name}}</option>
                                {% endfor %}
                            </datalist>

                            <label for="company_info" class="mt-2">(Optional) Company Link</label>
                            <input type="text" class="form-control" name="company_info" placeholder="Copy + Paste a Link here!" >

                            <label for="contact_have" class="mt-5">Do you have a contact to add?</label>
                            <select name="contact_have" class="d-b">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>

                            <label for="contact_name" class="mt-2 d-b">Contact Full Name</label>
                            <input type="text" class="form-control" name="contact_name" placeholder="ex: Con Tact" >
                            <label for="contact_phone" class="mt-2 d-b">(Optional) Phone Number</label>
                            <input type="text" class="form-control" name="contact_phone" placeholder="ex: 3101234567" >
                            <label for="contact_email" class="mt-2 d-b">(Optional) Contact Email</label>
                            <input type="text" class="form-control" name="contact_email" placeholder="ex: con.tact@email.com" >
                            


                            {% if messages %}
                            <ul class="messages mt-3">
                                {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>

                    <button type="Add" class="btn btn-secondary d-block mx-auto w-50 my-3">Add!</button>
                </form>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer fixed-bottom">
            <div class="container">
                <p class="text-muted">© 2020 by Gaku Sasaki</p>
            </div>
        </footer><!-- Footer -->
    </div>
</body>

</html>